@media (max-width: 991px){
  .dropdown.show .dropdown-menu {
    display: block!important;
    position: static !important;
    float: none!important;
    background: transparent!important;
  }
  .navbar .navbar-nav .dropdown-menu .dropdown-menu{
    max-height: unset !important;
  }
  .dropdown .dropdown-menu .dropdown-toggle.dropdown-item {
    pointer-events: none;
  }
  .navbar .navbar-nav {
    max-height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
  }
}